.toastContainer {
  font-family: sans-serif;
  min-width: 320px;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.toastData {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.toastText {
  display: flex;
  padding: 16px 10px;
  align-items: start;
}
/* Themes */
[data-theme="dark"] {
  background-color: #121212;
  color: #fff;
}
[data-theme="light"] {
  background-color: #fff;
  color: #757575;
}

.success .timer {
  background-color: #07bc0c;
}
.error .timer {
  background-color: #e74c3c;
}
.info .timer {
  background-color: #3498db;
}
.warning .timer {
  background-color: #f1c40f;
}
.timer {
  background: #fff;
  height: 5px;
  transition: all 0.1s linear;
}
.colored-success {
  color: #fff;
  background-color: #07bc0c;
}
.colored-error {
  color: #fff;
  background-color: #e74c3c;
}
.colored-info {
  color: #fff;
  background-color: #3498db;
}
.colored-warning {
  color: #fff;
  background-color: #f1c40f;
}

/* Animations */

.slideIn {
  animation-name: slideIn;
}
.slideOut {
  animation-name: slideOut;
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.toastInfo {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.toastTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.toastIcon {
  width: 20px;
}
.toastDesc {
  display: block;
  margin-top: 6px;
  font-size: 14px;
}

.closeButton {
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 8px;
}
.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}
.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}
