.toastContainer {
  font-family: sans-serif;
  min-width: 200px;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.slideIn {
  animation-name: slideIn;
}
.slideOut {
  animation-name: slideOut;
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.toastInfo {
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
}
.toastTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.toastDesc {
  margin-top: 10px;
  font-size: 14px;
}
.success {
  background-color: #4caf50;
}
.error {
  background-color: #f44336;
}
.info {
  background-color: #2196f3;
}
.warning {
  background-color: #ff9800;
}
.closeButton {
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}
.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}
.timer {
  background: #fff;
  height: 5px;
  transition: all 0.1s linear;
}
